* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #ffffff;
}

/* Navbar Section */

.navbar {
  width: 100%;
  padding: 20px 90px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 80px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #8987a1;
  transition: color 0.2s ease-in-out;
}

.nav-links li.home a {
  color: #000;
  font-weight: bold;
}

.nav-links li a:hover {
  color: #e95a08;
}

.cart {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: #000;
}

.cart i {
  font-size: 18px;
}

/* Banner Section */

.banner {
  height: 450px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 80px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.banner-text {
  width: 50%;
  padding-top: 120px;
}

.banner-text h1 {
  font-size: 56px;
  margin-bottom: 20px;
  font-family: serif;
}

.P-text {
  color: #000;
}

.highlight-text {
  color: #e95a08;
}

.banner-text p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.6;
}

.banner-image {
  width: 50%;
  text-align: right;
}

.banner-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Plant Section */

.plants-section {
  max-width: 1140px;
  margin: 0 auto;
  padding: 80px 20px;
  text-align: center;
}

.plants-section h1 {
  font-size: 36px;
  font-family: serif;
  color: #222;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.section-description {
  font-size: 16px;
  font-family: "Inter", sans-serif;

  color: #8987a1;
  margin-bottom: 40px;
}

.plant-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.plant-card {
  background-color: #f9f9f9;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.plant-card img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.plant-card p {
  margin-top: 6px 0;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: black;
  padding-bottom: 5px;
}

.plant-card .price {
  font-weight: bold;
  font-size: 18px;
  color: black;
  padding-bottom: 20px;
}

.add-to-cart {
  padding: 12px;
  background-color: #e95a08;
  color: #fff;
  border: none;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-to-cart:hover {
  background-color: #d14d05;
}

/* Plants Lover Section */

.plants-lover {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
  padding: 80px 0px;
  gap: 30px;
}

.image-container {
  position: relative;
  width: 440px;
  height: 500px;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge-img {
  position: absolute;
  top: -100px;
  right: -100px;
  width: 245px;
  height: 245px;
  z-index: 2;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-badge {
  animation: spin 10s linear infinite;
}

.text-container {
  width: 540px;
  height: 520px;
  padding-left: 40px;
  padding-top: 80px;
}

.text-container h1 {
  font-size: 40px;
  font-family: serif;
  color: #111;
  margin-bottom: 20px;
}

.text-container ul {
  list-style: disc;
  padding-left: 20px;
  color: #555;
}

.text-container li {
  margin-bottom: 25px;
  line-height: 1.6;
  text-align: justify;
  color: #8987a1;
}

/* Latest Deals section */

.latest-deals {
  text-align: center;
  padding: 80px 20px;
}

.latest-deals .deals-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.latest-deals h1 {
  font-size: 40px;
  font-family: serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.latest-deals .highlight {
  color: #e95a08;
}

.latest-deals p {
  font-size: 18px;
  font-family: "Inter", sans-serif;

  color: rgba(0, 0, 0, 0.5);
  max-width: 700px;
  margin: 0 auto 120px;
}

.deals-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 40px;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}

.deal-card {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  overflow: hidden;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.deal-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.card-content {
  position: relative;
  z-index: 2;
  text-align: center;
  font-family: serif;
}

.deal-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.deal-card a {
  color: white;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  text-decoration: underline;
}

.small-card {
  height: 180px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.large-card {
  flex: 2;
  height: 390px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-content {
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Join Section */

.join-section {
  width: 100%;
  height: 530px;
  background-image: url(assets/news-letter-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-content {
  width: 830px;
  height: 140px;
  text-align: center;
  padding: 30px;
  border-radius: 12px;
}

.join-content h1 {
  font-size: 48px;
  font-family: serif;
  margin-bottom: 25px;
  color: white;
}

.email-box {
  display: flex;
  justify-content: center;
}

.email-box input[type="email"] {
  padding: 12px 20px;
  width: 80%;
  border: 1px solid #ccc;
  font-size: 16px;
}

.email-box button {
  padding: 12px 35px;
  background-color: #e95a08;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.email-box button:hover {
  background-color: #cf4e05 !important;
}

/* Footer Section */

.footer {
  width: 100%;
  height: auto;
  padding: 80px 90px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px 90px;
  align-items: flex-start;
}

.footer-left {
  max-width: 350px;
} 

.footer-left img {
  height: 70px;
  margin-bottom: 20px;
} 

.footer-description {
  font-size: 18px;
  color: #8987a1;
  line-height: 1.6;
} 

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 40px;
  padding: 0;
}

.footer-col {
  list-style: none;
  padding: 0;
}

.footer-col li {
  margin-bottom: 15px;
}

.footer-col li a {
  text-decoration: none;
  color: #8987a1;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-col li a:hover {
  color: #e95a08;
}

.footer-socials {
  display: flex;
  gap: 30px;
  align-items: center;
}

.footer-socials img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}



                    /* Responsive Part */



/* Navbar Section */

@media screen and (max-width: 576px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 

  html,
  body {
    overflow-x: hidden;
    width: 100%;
  }

  .nav-links {
    display: none;
  }

  .navbar {
    padding: 20px 30px;
  }

  .logo img {
    height: 50px;
  }

  .cart {
    font-size: 14px;
  }

  .cart i {
    font-size: 16px;
  }

  /* Banner Section */

  .banner {
    flex-direction: column-reverse;
    padding: 10px 0px 40px 0px;
    height: auto;
    gap: 30px;
  }

  .banner-text,
  .banner-image {
    width: 100%;
    text-align: left;
  }

  .banner-text {
    padding: 0px 15px;
  }

  .banner-text h1 {
    font-size: 28px;
  }

  .banner-text p {
    font-size: 15px;
  }

  .banner-image img {
    max-width: 100%;
    height: auto;
  }

  /* Plant Section */

  .plants-section {
    padding: 30px 20px;
  }

  .plant-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .plant-grid .plant-card:nth-last-child(-n + 2) {
    display: none;
  }

  /* Plants Lover Section */

  .plants-lover {
    flex-direction: column;
    padding: 10px;
  }

  .main-img {
    width: 0 auto;
    padding: 10px 30px;
  }
  .badge-img {
    display: none;
  }

  .text-container {
    display: block;
    width: 100%;
    padding: 0px;
  }

  .text-container h1 {
    font-size: 28px;
  }

  .text-container li {
    line-height: 1.4;
  }

  .desktop-br {
    display: none;
  }

  /* Latest Deals section */

  .latest-deals {
    padding: 100px 20px 20px 20px;
  }

  .deals-container {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .left-column,
  .large-card {
    flex: none;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .large-card {
    height: 180px;
  }

  .latest-deals p {
    margin: 0 auto 70px;
  }

  /* Join Section */

  .join-section {
    width: 100%;
    height: 280px;
  }

  .join-content h1 {
    font-size: 25px;
  }

  .email-box button {
    padding: 12px 13px;
  }

  /* Footer Section */

  .footer {
    grid-template-columns: 1fr;
    justify-items: start;
    text-align: left;
    padding: 40px 20px;
  }

  .footer-links {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .footer-col li {
    margin-bottom: 20px;
  }

  .footer-col li a {
    font-size: 12px;
  }

  .footer-description {
    font-size: 15px;
  }

  .footer-left img {
    height: 90px;
  }

  .footer-socials {
    justify-content: flex-start;
  }
}
